.all{display:block;
  flex-direction:row}
  .title{display:flex;
  flex-direction:row}
  .a1{display:flex;
  direction: column;
  background-color: rgb(254, 255, 192)}
  .category{display: flex;
  direction: column;}
  .alcholic{display: flex;
  direction: column}
  .glass{display: flex;
  direction: column}
  .adam{display:flex;
  direction: column;
  background-color: burlywood}
  h1{font-size: 100px;
  color:yellow}